

div#wclu-upsell-setup ul.wc-tabs {
  margin: 0;
  width: 20%;
  float: left;
  line-height: 1em;
  padding: 0 0 10px;
  position: relative;
  background-color: #fafafa;
  border-right: 1px solid #eee;
  box-sizing: border-box;
}

div#wclu-upsell-setup ul.wc-tabs li {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}
div#wclu-upsell-setup ul.wc-tabs li a {
  margin: 0;
  padding: 10px;
  display: block;
  box-shadow: none;
  text-decoration: none;
  line-height: 20px !important;
  border-bottom: 1px solid #eee;
}
div#wclu-upsell-setup ul.wc-tabs li a span {
  margin-left: 0.618em;
  margin-right: 0.618em;
}
div#wclu-upsell-setup .inside {
  margin: 0;
  padding: 0;
}
div#wclu-upsell-setup .active a {
  color: #555;
  position: relative;
  background-color: #eee;
}
div#wclu-upsell-setup .offer_data {
  width: 100%;
}

div#wclu-upsell-setup .wclu_options_panel {
  float: left;
  width: 80%;
}

div#wclu-upsell-setup .wclu_options_panel input[type=number].short {
  width: 16%;
  margin-right: 23px;
}

div#wclu-upsell-setup .panel-wrap {
  overflow: hidden;
  background: #fff;
}

select#wclu_upsell_cart_contents + span.select2 {
    min-width: 67%;
    margin-left: 15px;
}